/memory_game/__pycache__
/pacman/__pycache__
/shoot/__pycache__
/pull_medicine/__pycache__
/gamble/__pycache__
/website/static/css
/website/static/js
/flask_example_code
memory_game/fonts/.DS_Store
memory_game/images/hololive/.DS_Store
memory_game/images/hololive/card/.DS_Store
memory_game/images/hololive/vtuber/.DS_Store
memory_game/.DS_Store
memory_game/images/.DS_Store
memory_game/sounds/.DS_Store
website/static/img/.DS_Store
website/static/.DS_Store
website/static/giphy.gif
website/templates/cover copy.html
website/templates/index.html
website/templates/user.html
website/.DS_Store
website/manifest.json
.DS_Store
game_done/__pycache__/
website/__pycache__/

